<section class="goalinfo">
	<form class="artist" ng-submit="submit()">
		<h1>Add a new goal</h1>
		<div class="input">
			<label for="goal-name">Goal name</label>
			<input class="topcoat-text-input" required type="text" name="goal_type" ng-model="goal_type" placeholder="e.g. Push-ups">
		</div>
		<div class="input">
			<label for="goal-name">Goal number</label>
			<input class="topcoat-text-input" required type="text" name="goal_type" ng-model="goal_number" placeholder="100">
		</div>
		<div class="input">
			<label for="goal-name">Goal due date</label>
			<input class="topcoat-text-input" required type="date" name="goal_type" ng-model="goal_due" placeholder="06/31/2014">
		</div>
		<input type="submit" class="topcoat-button--cta">
		<a href="/" class="topcoat-button--quiet">Back</a>
	</form>

</section>